h1 {
  font-weight: normal;
  font-size: 4em;
  margin: 0;
  margin-top: -.3em;
  padding: 0;
}

h1.shine {
  text-shadow: 0 0 30px white;
}
html {
  min-height: 100%;
}

body {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(25,26,39)),
    color-stop(0.86, rgb(84,84,100))
  );
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(25,26,39) 0%,
    rgb(84,84,100) 86%
  );

  padding: 0px;
  margin: 0px;
  border: 0px none;
  min-height: 100%;
  font-size: 4em;
  color: white;
  font-family: Gill Sans;
  overflow: hidden;
  
  -moz-user-select:none;

}

#overlay {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 9999;
  opacity: 0.9;
}

#loading {
  display: block;
  text-align: center;
  margin: auto;
  position: relative;
  top: 25%;
}

p {
  margin: 0.3em 0;
}

h2 {
  font-weight: normal;
  font-size: 2em;
  margin: 0;
}

ul {
margin: 0}

li {
  padding-left: 0.5em;
}

#info {
  position: fixed;
  top: 20px;
  right: 20px;
  color: #ccc;
  font-size: 27px;
}

.slide {
  padding: 200px 0 0 100px;
  height: 100%;
  position: absolute;
  
  text-shadow: white 0px 0px 1px;
  cursor: default;
}

#presentation {
  height: 100%;
  width: 100%;
  position: fixed;
}